<p style="color: green"><%= notice %></p>

<div class="mt-1 bg-light p-2 bg-opacity-25 tcolor text-center">
<div>
<h1><u>¡Bienvenid@!</u></h1>
<%= image_tag "perfil.jpg", class:"rounded-circle perfil" %>


<p>Soy Karina y esta es mi pagina profesional de fotografia~ <br> <br>
Me encanta la naturaleza y plasmar cada vivencia en una bella imagen,
combinando perspectivas y colores de algo que puede ser efimero y eterno a la vez.
<br> <br>
 Si te agradan las imagenes que veras acontinuación estas totalmente invitad@ a
ser parte de mi comunidad~  <br>¡Feliz día! </p>
</div>


<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "two.jpg", class:"d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "one.jpg" , class:"d-block w-100"  %>
    </div>
    <div class="carousel-item">
      <%= image_tag "three.jpg" , class:"d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>
